<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.IOrderMapper">
    <resultMap id="BaseResultMap" type="com.entity.order.Order">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="order_status" jdbcType="BIGINT" property="orderStatus"/>
        <result column="buy_num" jdbcType="BIGINT" property="buyNum"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_no" jdbcType="BIGINT" property="goodsNo"/>
        <result column="order_total_price" jdbcType="DECIMAL" property="orderTotalPrice"/>
        <result column="goods_total_price" jdbcType="DECIMAL" property="goodsTotalPrice"/>
        <result column="logistics_fee" jdbcType="DECIMAL" property="logisticsFee"/>
        <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress"/>
        <result column="order_logistics_id" jdbcType="BIGINT" property="orderLogisticsId"/>
        <result column="pay_channel" jdbcType="BIGINT" property="payChannel"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="pay_date" jdbcType="TIMESTAMP" property="payDate"/>
        <result column="ship_date" jdbcType="TIMESTAMP" property="shipDate"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_comment" jdbcType="VARCHAR" property="userComment"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>

    </resultMap>

    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        order_id,order_no,shop_id,order_status,buy_num,goods_name,goods_no,order_total_price,
        goods_total_price,logistics_fee,shipping_address,order_logistics_id,pay_channel,
        create_date,pay_date,ship_date,user_id,user_comment
    </sql>

    <!--add order-->
    <insert id="createOrder" parameterType="com.controller.order.req.OrderRequest">
        insert into ai_lu_order
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="buyNum != null">
                buy_num,
            </if>
            <if test="goodsNo != null">
                goods_no,
            </if>
            <if test="orderTotalPrice != null">
                order_total_price,
            </if>
            <if test="logisticsFee != null">
                logistics_fee,
            </if>
            <if test="shippingAddress != null">
                shipping_address,
            </if>
            <if test="orderLogisticsId != null">
                order_logistics_id,
            </if>
            <if test="payChannel != null">
                pay_channel,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userComment != null">
                user_comment,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="goodsTotalPrice != null">
                goods_total_price,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="buyNum != null">
                #{buyNum},
            </if>
            <if test="goodsNo != null">
                #{goodsNo},
            </if>
            <if test="orderTotalPrice != null">
                #{orderTotalPrice},
            </if>
            <if test="logisticsFee != null">
                #{logisticsFee},
            </if>
            <if test="shippingAddress != null">
                #{shippingAddress},
            </if>
            <if test="orderLogisticsId != null">
                #{orderLogisticsId},
            </if>
            <if test="payChannel != null">
                #{payChannel},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userComment != null">
                #{userComment},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="orderNo != null">
                #{orderNo},
            </if>
            <if test="goodsTotalPrice != null">
                #{goodsTotalPrice},
            </if>
            <if test="shopId != null">
                #{shopId},
            </if>
            <if test="orderStatus != null">
                #{orderStatus},
            </if>
            <if test="goodsName != null">
                #{goodsName},
            </if>
        </trim>
    </insert>
    <!--query order detail-->
    <select id="getOrderDetail" resultMap="BaseResultMap">
        select alo.order_no, alo.order_status,alo.shop_id,
        alo.buy_num,alo.goods_name,alo.order_total_price,
        alo.goods_total_price,alo.logistics_fee,alo.shipping_address,
        alo.pay_channel,alo.create_date,alo.pay_date,alo.ship_date,
        alo.user_comment,alo.order_logistics_id,alu.user_name from
        ai_lu_order alo left join ai_lu_user alu on
        alo.user_id = alu.user_id where 1=1
        <if test="userId != null">
            and alo.user_id = #{userId}
        </if>
        <if test="orderNo != null">
            and alo.order_no = #{orderNo}
        </if>
    </select>

    <!--query orderpage-->
    <select id="queryOrdersPageByCondition" parameterType="com.controller.order.req.OrderPageRequest"
    resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from ai_lu_order alo where 1=1
        <if test="userId != null">
            and alo.user_id = #{userId}
        </if>
        <if test="orderStatus != null">
            and alo.order_status = #{orderStatus}
        </if>
    </select>

    <!--delete order-->
    <delete id="deleteOrder">
        delete from ai_lu_order alo
        where alo.order_no = #{orderNo}
            and alo.user_id = #{userId}
     </delete>
</mapper>