<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.IUserMapper">

    <insert id="userRegister" parameterType="com.entity.user.User">
        insert into ai_lu_user
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="userName != null">
                user_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="loginPwd != null">
                login_pwd,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="salary != null">
                salary,
            </if>
            <if test="userAddress != null">
                user_address,
            </if>
            <if test="userIdentityCard != null">
                user_identity_card,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="userName != null">
                #{userName},
            </if>
            <if test="userPhone != null">
                #{userPhone},
            </if>
            <if test="loginPwd != null">
                #{loginPwd},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="salary != null">
                #{salary},
            </if>
            <if test="userAddress != null">
                #{userAddress},
            </if>
            <if test="userIdentityCard != null">
                #{userIdentityCard},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
         </trim>
    </insert>
</mapper>
